.my-form {
    display: flex;
    height: 80vh;
}

.default-colors {
    color: white;
}

.form-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    color: white;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
    background-color: #51b9ff;
}

.login-input {
    display: block;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.error-message {
    display: none;
}

.login-input:invalid~.error-message {
    display: block;
    color: red;
}

.login-button {
    border-radius: 15px;
    border: 1px solid black;
    width: 150px;
    margin: 5px;
    background-color: white;
    padding: 5px;
}

.google-signin {
    width: 18px;
    height: 18px;
    margin: 5px;
}

.switch-button {
    background-color: #51b9ff;
    color: white;
    font-size: 20px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-width: 200px;
}